asn1crypto==0.24.0
autopep8==1.5.4
cffi==1.12.2
Click==7.0
cryptography==3.2
cycler==0.10.0
Flask==1.0.3
Flask-SocketIO==0.6.0
Flask-Sockets==0.2.1
gevent==20.9.0
gevent-socketio==0.3.6
gevent-websocket==0.10.1
greenlet==0.4.17
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.0.1
MarkupSafe==1.1.1
matplotlib==3.0.0
numpy==1.15.2
opencv-python==3.4.3.18
opencv-python-headless==3.4.3.18
Pillow==5.2.0
pycodestyle==2.6.0
pycparser==2.19
pycryptodome==3.7.3
pycryptodomex==3.7.3
pyparsing==2.2.1
python-dateutil==2.7.3
python-engineio==3.10.0
python-socketio==4.3.1
pytz==2018.5
six==1.11.0
toml==0.10.2
torchvision==0.2.1
virtualenv==16.7.7
Werkzeug==0.15.4
zope.event==4.5.0
zope.interface==5.2.0
