@keyframes fadeInOut
{
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@keyframes fadeIn 
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeOut 
{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes buttonMouseEnter
{
    0% {opacity: 1;}
    100% {opacity: 0.5;}
}
@keyframes buttonMouseOut
{
    0% {opacity: 0.5;}
    100% {opacity: 1;}
}
@keyframes buttonBlinking
{
    0%, 34%, 67%, 100% {opacity: 1;}
    8%, 25%, 42%, 58%, 75%, 92% {opacity: 0.5;}
    17%, 50%, 84% {opacity: 0;}
}

.btn 
{
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
    transition-duration: 0.1s;
}
.btn:hover
{
    border: 2px solid gray;
    color: gray;
    background-color: #dddddd;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
}

.scrollbar::-webkit-scrollbar 
{
	background-color:#fff;
	width:10px
}
.scrollbar::-webkit-scrollbar-track 
{
	background-color:#fff
}
.scrollbar::-webkit-scrollbar-track:hover 
{
	background-color:#f4f4f4
}
.scrollbar::-webkit-scrollbar-thumb 
{
	background-color:#666666;
	border-radius:5px;
	border:1px solid #fff
}
.scrollbar::-webkit-scrollbar-thumb:hover 
{
	background-color:#666666;
	border:1px solid #f4f4f4
}

.scrollbar::-webkit-scrollbar-button 
{
    display:none
}

.scrollbar 
{
    overflow: scroll
}

.cardMenu
{
	display:none;
	z-index:100;
}

menu 
{
	position:absolute;
	display:block;
	left:0px;
	top:0px;
	padding:0;
	margin:0;
	font-weight:normal;
	white-space:nowrap;
}

.opt
{
	background: #191919;
}

menu:hover
{
	font-weight:bold;
}

menu:hover > menu
{
	display:block;
}

menu > menu
{
	display:none;
	position:relative;
	top:-20px;
	left:100%;
	width:100px;
}

menu[title]:before
{
	content:attr(title);
}

.t-left
{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 20px solid #555;
	border-bottom: 10px solid transparent;
}

.t-right
{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #555;
	border-bottom: 10px solid transparent;
}