<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" type="image/ico" href="static/assets/icon.ico">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
</head>

<body style="background: #353535; font-size: 10px; font-family: 'Cambria';" text='white'>
    <div id="mainTitle"></div>
    <div id="mainMenu"></div>
    <div id="buildDeckMenu" style="display: none;"></div>
    <div id="freeDuelLobby" style="display: none;"></div>


    <div id="popupPermission"></div>
    <div id="notification"></div>
    <div id="inputMenu"></div>
    <menu id="cardMenu" class="cardMenu">
        <menu class="opt" title="Add to Deck" onclick="addToDeck()"></menu>
        <menu class="opt" title="Remove from Deck" onclick="removeFromDeck()"></menu>
    </menu>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='reconnecting-web-socket.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='globalVariables.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='buildDeckFunctions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='freeDuelDisplay.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='buildDeckDisplay.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mainFunctions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mainTitle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='userInterface.js') }}"></script>

</html>