<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
</head>

<body style="background: #353535; font-size: 10px; font-family: 'Roboto';" text='white'>
    <table>
        <tr>
            <td>
                <form class="example" onsubmit="return false">
                    <input type="text" id="searchBar" name="search">
                    <button type="submit" id="searchBarButton" onclick="searchCards()"><i class="fa fa-search"></i></button>
                </form>
                <div id="cardListDisplayer"></div>
            </td>
            <td style="display: block;">
                <div>
                    <img id="cardDisplayer"></img>
                    <img id="deckCardDisplayer"></img>
                </div>
            </td>
            <td>
                <div id="optionList">
                    <button class="btn" id="makeNewDeckButton" onclick="makeDeck()">Create deck</button>
                    <div class="upload-btn-wrapper">
                        <button class="btn" id="uploadDeck">Upload a deck</button>
                    </div>
                    <button class="btn" id="saveDeck" onclick="saveDeck()">Save deck</button>
                    <div>
                        <button class="btn" for="filename" id="downloadDeck" onclick="downloadDeck()">Download deck</button><a id="download" download="" href=""></a>
                        <div class="shape"></div>
                    </div>
                    <button class="btn" id="searchPlayer" onclick="searchPlayer()">Search Player</button>
                    <div id="deckList"></div>
                </div>
            </td>
            <td>
                <div id="deckContentContainer">
                    <div id="deckContent"></div>
                </div>
            </td>
            <td> 
                <div style="position: absolute; left: 0px; top: 0px; z-index: 6; display: none" id="savePlayerMenu">
                    <button id="closeMenu" onclick="closePlayerSearch()"></button>
                    Player name: <input type="text" id="inputPlayerName"><br>
                    <input type="submit" value="Submit" onclick="savePlayerName()">
                </div>
                <div id="popupPermission">
                    <div id="questionText"></div>
                    <div id="yesButton">Yes</div>
                    <div id="noButton">No</div>
                </div>
                <div id="duelMenu">
                    <button id="refreshPlayerList" onclick="refreshPlayerList()">Refresh Player List</button>
                    <div id="playerList"></div>
                    <div id="deckForDuel"></div>
                </div>
            </td>
            <td>
                <div id="duelField" style="display: none; position: absolute; top:0px; left:0px; background-color: white; z-index: 50;"></div>
            </td>
        </tr>
    </table>
    <menu id="cardMenu" class="cardMenu">
        <menu title="Add Card" onclick="addToDeck()"></menu>
    </menu>
    <menu id="deckMenu" class="cardMenu">
        <menu title="Remove Card" onclick="removeFromDeck()"></menu>
    </menu>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='globalVariable.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='cardFetcher.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mainDisplayer.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='userInterface.js') }}"></script>

</html>